.DS_Store

node_modules

.vscode
.turbo
.svelte-kit
.bruno

.env
.env.development
.env.production
.env.test
.env.review

dist
build

workspaces/
apps/api/review/data/
apps/api/review/result/

*.backup
